.sr-only {
	position: absolute;
	margin: -1px 0 0 -1px;
	padding: 0;
	display: block;
	width: 1px;
	height: 1px;
	font-size: 1px;
	line-height: 1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
	outline: 0;
}

.hero.morse{
	position:relative;
	overflow:hidden;
	width:100vw;
	min-height:30rem;
	display:flex;

}
.hero.morse .hero__container{
	max-width:80%;
	margin:0 auto;
	display:flex;
	align-items:center;
}

.hero.morse .hero__container .hero__content,
.hero.morse .hero__container .hero__morse-wrapper{
	width:50%;
}

.morse-code-wrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap:1rem;
	width:50%;
}

.single-morse {
	white-space:nowrap;
}

.single-morse:nth-of-type(odd){
	margin-left:2rem;
}

.single-morse span{
	height:1.5rem;
	border-radius:1.5rem;
	display:inline-flex;
	margin:0 .125rem;
}

.dash{
	width:3rem;
	height:1.5rem;
}

.dot{
	width:1.5rem;
	height:1.5rem;
}

.single-morse span.spacing{
	width:1rem;
	background-color:transparent !important;
}

.hero__overlay{
	width:100%;
	height:10rem;
	position:absolute;
	bottom:0;

}

.hero .btn{
	text-decoration:none;
	display:inline-block;
}